/* #btn {
  width: 200px;
  height: 250px;
  background-color: pink;
  color: firebrick;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}
button {
  user-select: none;
}
#app-alchemy-book {
  width: 75%;
  height: 75%;
}
#book {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
  background-color: rgb(133, 165, 240);
}

#categories {
  flex: 6;
  display: flex;

  height: 100%;
  min-width: 320px;
  background-color: rgb(47, 47, 124);
}

#categories__list {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: blueviolet;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#categories__list::-webkit-scrollbar {
  display: none;
}

#categories__elements-list-wrapper {
  flex: 9;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categories__category-box {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100px;
  width: 100%;
  background-color: rgb(91, 49, 130);
}

.categories__category-box:hover {
  color: cornflowerblue;
}

.category-active {
  background-color: cadetblue;
}

#categories__elements-list__title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 50px;
  height: max-content;
  text-align: center;
  background-color: aliceblue;
}

#categories__elements-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  place-items: center;
  height: 100%;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#categories__elements-list::-webkit-scrollbar {
  display: none;
}

.categories__elements-list__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.categories__elements-list__element-icon {
  width: 64px;
  height: 64px;

  user-drag: none;
  -webkit-user-drag: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.categories__elements-list__element.element-select-clone > .categories__elements-list__element-text {
  display: none;
}

.categories__elements-list__element.element-animation-clone > .categories__elements-list__element-text {
  display: none;
}

.categories__elements-list__element-text {
  font-size: 14px;
  text-align: center;
  color: white;
}

#worktable {
  display: flex;
  flex-direction: column;
  flex: 6;

  height: 100%;
  width: 100%;
  padding: 3px 16px;
}

#worktable__header {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  min-height: 100px;
  width: 100%;

  align-items: end;
}

#worktable__title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 100%;
}

#btn-hint-header {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0 3px;
}

#btn-hint-footer {
  display: none;
}

#worktable__reaction-box {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.worktable__reaction-box__select {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(81, 2, 112);

  transform: rotate(calc(270deg + var(--i) * (360deg / var(--selects)))) translate(150%)
    rotate(calc(-270deg - var(--i) * (360deg / var(--selects))));
}

#worktable__reaction-result {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  border-radius: 12px;
  transform: rotate(45deg);

  font-size: 0.7em;
  text-align: center;
  background: rgb(160, 112, 185);
}

#worktable__footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: max-content;
  min-width: 50px;
  height: 50px;
  border-radius: 12px;
  padding: 0 3px;
}

@media (max-width: 768px) {
  #app-alchemy-book {
    width: 90%;
    height: 90%;
  }
  #book {
    flex-direction: column;
  }

  #categories {
    flex: 6;
    min-height: 50%;
    max-height: 50%;
  }

  #worktable {
    flex: 6;
    min-height: 50%;
    max-height: 50%;
  }

  .worktable__reaction-box__select {
    width: 48px;
    height: 48px;

    transform: rotate(calc(270deg + var(--i) * (360deg / var(--selects)))) translate(150%)
      rotate(calc(-270deg - var(--i) * (360deg / var(--selects))));
  }
  #worktable__title {
    display: none;
  }

  #worktable__header {
    display: none;
  }

  #btn-hint-footer {
    display: flex;
  }

  #btn-hint-header {
    display: none;
  }
}
